/*css reset*/
* {
	margin: 0;
}

.grandparent {
	background-color: skyblue;
	width: 50%;
	position: fixed;
	/*bottom: 50px;
	right: 50px;*/
}

.parent {
	/*position: relative;*/
	background-color: pink;
}

div	{
	padding: 20px;
}

p {
	position: static;
	/*margin-top: -20px;*/
	/*margin-left: 50px;*/

}

input[name="firstname"]{
	margin-right: 20px;
}

strong {
	/*position: absolute;*/
	/*top: 10px; dependent to browser*/
	/*left: 50px;*/
	/*top: 100px;
	left: 100px;*/
	background-color: yellow;
}